.table__theme_dark {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 0;
}

.table__cell__theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading__theme_dark {
line-height: 1.15;
font-size: 24px;
font-weight: 700;
}

.table__text__theme_dark {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
