
.feynman {
  padding-top: 100px;
  height: 890px;
  background: #f2f2f2 url(../../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  position: relative;

}

.feynman__title {
  width:648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin:auto;
}

.feynman__subtitle {
  margin: 70px auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 46px;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 50%;
  text-decoration: none;
  transition: 0.5s;
}
