.table {
  width: 1100px;
  margin: auto auto 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  }

.table__cell {
  width: 250px;
  margin-top: 60px;
  align-content: space-between;
}

.table__heading {
line-height: 1.15;
font-size: 24px;
font-weight: 700;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
