
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__columns {
display: flex;
justify-content: space-between;
width: 90%;
margin:auto;
}

.footer__column {

}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
  margin: 16px 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__columns_info {
  display: flex;
}

.footer__column_content_info {
}

