
.footer {
  background-color: #1f1f1f;
  display: flex;
  min-height: 350px;
}

.footer__columns {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  }

  .footer__column {
    margin: 0;
  }

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}

.footer__column-links {
  line-height: 18px;
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer__column-heading{
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
  display: flex;
  color: white;
}

.footer__column-link {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  float: left;
}

.footer__column-link:hover {
  opacity: 50%;
  text-decoration: none;
}

.footer__social-icon{
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.footer__column_content_social {
  color:white;
}

.footer__column_content_info {
  color: white;
}
