
.footer {
  background-color: #1f1f1f;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__columns {
display: flex;
width: 90%;
margin:auto;
justify-content: space-between;
}


.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
  min-height: 350px;

}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 16px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__column_content_info {
  color: white;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.footer__column-link {
  text-decoration: none;
  color:white;
  flex-direction: column;
  text-decoration-line: none;
}

.footer__social-icon {
margin-top: 10px;
}


.footer__column_content_social {
color:white;
}
